<h3>Welcome Significant Others!</h3>

<p>
You must be a subscriber to access this site. Please use the link below
to login with Twitch.
</p>

<a class="btn btn-default" href="/auth/twitch">Login with Twitch</a>
