<div class="center-box">
  <div class="welcome-message">
    You have been logged in, but we could not verify your channel subscription, sorry!
    <br />
    (If this app has been removed from your twitch connections please use the link below
    to try logging in again.)
    <br /><br />
    <a href="/auth/logout">Click to Logout</a>
  </div>
</div>
