html,body { padding: 0; margin: 0; height: 100%; }

body { font-family: sans-serif; }


a {
  color: #ffffff;
}

a:visited {
  color: #bababa;
}

table.table,
table.table > th,td {
  border: 1px solid #fff;
  border-collapse: collapse;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movie-box {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: auto; margin-right: auto;

  background-color: #000000;
  flex: 1;
}

.chat-box {
  display: flex; 
  flex-direction: column;
  width: 100%;
  flex: 2;
}

.chat-box > .wrap { margin-top: auto; }

.center-box {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  max-width: 600px;
  background-color: rgba(58, 96, 165, 0.33);
  padding: 10px;
}

.btn {
  display: inline-block;
  border: none;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;

  height: 50px; line-height: 50px;
  vertical-align: middle;
  padding: 0 10px 0 10px;
  margin: 5px 5px 5px 5px;
}

.btn-primary {
  color: #fafafa;
  background-color: #42525d;
}

.btn-primary:hover { box-shadow: inset 0px 0px 25px #000; }

.btn-danger {
  color: #fafafa;
  background-color: #ff0000;
}

.emote { width: 28px; height: 28px; }

#alleluia-emote-menu {
  position: absolute;
  right: 0; bottom: 0; 
  width: 150px; height: 210px;
  background-color: #000000;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#alleluia-emote-menu.hidden { display: none; }

#alleluia-stale.hidden { display: none; }
#alleluia-stale {
  padding: 5px;
  background-color: #e2dbba;
  color: #73540e;
  border: 1px #73540e solid;
}

#alleluia-messages { overflow-y: auto; word-wrap: break-word; }
#alleluia-prompt {
  display: flex; 
  flex-direction: row; 
}

#alleluia-input { flex-grow: 2; }

.alleluia-line {
  font-family: sans-serif;  
  padding: 0 10px 0 10px;
}

.alleluia-line > span.alleluia-name { 
  margin-right: 10px;
  font-weight: bold; 
  color: #ffffff;
}

.alleluia-line-sys {
  color: #7d7d7d;
  font-size: .70em;
}

/* flair stuff */

.alleluia-line-overlord > span.alleluia-name {
  color: #593695;
  font-family: 'Libre Barcode 39 Extended', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.alleluia-line-vale  > span.alleluia-name { color: #efff32; }
.alleluia-line-jacca > span.alleluia-name { color: #ff69ca; }
.alleluia-line-hime  > span.alleluia-name { color: #14ffbd; font-family: 'Share Tech Mono', monospace; }
.alleluia-line-mods  > span.alleluia-name { color: #00ced1; }
.alleluia-line-juice > span.alleluia-name { color: #ff33cc; }


/* videojs */
div.vjs-error-display.vjs-modal-dialog { display: none; }

div.vjs-quality-menu { font-weight: bold; line-height: 30px;}
div.vjs-quality-menu-list { display: none; }
div.vjs-quality-menu-list.visible { 
  display: block; 
  background-color: #000000;
  transform: translateY(calc(-100% - 30px));
}

div.vjs-quality-menu-level {}
div.vjs-quality-menu-level:hover { background-color: #bababa; }

@media only screen and (min-width: 640px) {
  .container {
    background-color: #000000;
    flex-direction: row;
  }

  .movie-box { width: calc(100% - 360px); flex: initial; }

  .chat-box {
    width: 250px; 
    flex: initial;
  }
}

@media only screen and (min-width: 960px) {
  .chat-box { width: 360px; }
}
