<div class="chat-box">
  <form id="alleluia-connect">
    <input id="alleluia-connect-name" type="hidden" value="<%= session[:twitch_user] %>" />
    <input id="alleluia-connect-id" type="hidden" value=<%= session[:twitch_id] %> />
  </form>

  <div id="alleluia-messages"></div>

  <div id="alleluia-prompt">
    <input type="text" id="alleluia-input" />
    <input type="button" id="alleluia-submit" value="Submit" />
  </div>
</div>

<%= javascript_include_tag "alleluia/bundle" %>
