<% content_for :head do %>
  <link href="//vjs.zencdn.net/7.0/video-js.min.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/7.0/video.min.js"></script>
  <script src="/javascripts/videojs-contrib-quality-levels.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<% end %>

<div id="muted-error">
  Your browser permissions are not set to allow auto-play with audio, click this box to unmute the video and remove this warning.
</div>

<div class="container">
  <div class="movie-box">
    <video id="my-video" />
<!--
		<div class="help" style="font-family: sans-serif; overflow: scroll;">
			<p>To enter chat, set a nickname in the `nick` field, scroll down and click `Connect`</p>
			<p>Stream quality should automatically adjust to your available bandwidth.</p>
			<p>Please report any problems you're having in chat/discord, thanks!</p>
			<p>(as a rule of thumb: if you're having problems, just refresh... a lot.)</p>
			<p>P.S: if you pause or seek too far back the movie will "skip" to present time. <em>GOTTA GO FAST</em></p>
		</div>
-->
  </div>

  <%= render_partial "dash/chatbox" %>
</div>

<%= javascript_include_tag "stream" %>
