<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vale's movie night</title>
    <%= stylesheet_link_tag :application %>

		<!-- codec stuff -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <%= yield_content :head %>

	  <style>
    body { background-color: #232323; color: #b7b7b7; }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>

</html>

