<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vale's movie night</title>
    <%= stylesheet_link_tag :application %>

		<!-- codec stuff -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <%= javascript_include_tag "jquery" %>
    <%= yield_content :head %>

	  <style>
    body { background-color: #232323; color: #b7b7b7; }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>

</html>

